<div class="create-form">
    <form>
        <h2 class="text-center">New Note</h2>       
        <div class="form-group">
          <label>Note Title</label>
           <input #nameInput class="input form-control" type="text" >
        </div>
        <div class="form-group">
          <label>Note Description</label>
            <input #descInput class="input form-control" type="text" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" (click)="onCreate(nameInput.value, descInput.value)">Create Note</button>
        </div>
             
    </form>
   
</div>